body {
    background-color: white;
}

main {
    display: grid;
    grid-template-areas:
        "topbar topbar topbar"
        "ads cont sidebar"
        "foot foot foot";
}
header  { grid-area: topbar; }
aside   { grid-area: ads; }
article { grid-area: cont; }
nav     { grid-area: sidebar; }
footer  { grid-area: foot; }

header {
    grid-area: topbar;
    grid-column: 2 / span 1;
}

.logoH1 {
    margin-top: 42px;
    margin-bottom: 10px;
    font-size: 53px;

    font-family: 'Ultra', serif;
}

.contA {
    padding: 0 10px;
}
.cont {
    margin-top: 20px;
}
footer div p {
    display: inline-block;
    margin: 0 6px;
}
footer div {
    margin: 110px 0 5px;
}
footer a {
    color: gray;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    color: black;
}
p {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 100;
    font-size: 12px;
}